<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/Util-tools/assets/UtilToolsIcon.webp">
    <title>Utils Tools</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1>Util Tools</h1>
            <nav>
                <p>MP4 to MP3</p>
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/ocr">OCR</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/ytc">YouTube Converter</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/mptmp">MP4 to MP3</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/imagermbg">Background Remover</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/mdcr">Music Downloader</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/inscon">Instagram Vídeo Donwloader</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="/sobre">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container my-5">
        <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="arquivo" class="form-label">Selecione um arquivo MP4:</label>
                        <input type="file" class="form-control" id="arquivo" name="arquivo" accept=".mp4" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Converter para MP3</button>
                </form>
                {% if mensagem %}
                <div class="alert alert-info mt-3">{{ mensagem }}</div>
                {% endif %}
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>